body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,button,strong{
    font-family: 'Microsoft YaHei';
    margin:0;
    padding:0;
}
body,
input,
select,
textarea{

    font-size: 12px;
}
input,
select,
textarea{
    outline: none;
}
img{
    border: 0;
}
.wrapper{
    min-width: 1000px;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
ol,ul {
    list-style:none;
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
}
.clearfix{
    zoom: 1;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.mt10{
    margin-top:10px;
}
.mt20{
    margin-top:20px;
}
.ml10{
    margin-left:10px;
}
.mr10{
    margin-right:10px;
}
a{
    color: #535353;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.content{
    margin: 0 auto;
    width: 1000px;
}
em{
    font-style: normal;
}
h1,h2,h3,h4,h5,h6,strong{
    font-weight: normal;
}
.txt-ell{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.color-78{
    color: #787878;
}
.color-aa{
    color: #aaa;
}
.color-gre{
    color: #2eb398;
}
