body{
    background-color: #f7f7f7;
}
.header-wrap{
    height: 60px;
    background: url("../images/top_bg.jpg") repeat-x;
}
.header-wrap .logo{
    width: 285px;
    height: 60px;
    background: url("../images/logo.png") no-repeat;
    font-size: 0;
}
.header-wrap .logo a{
    display: block;
    width: 285px;
    height: 60px;
}
.header-wrap .smart-search{
    margin: 9px 10px 0 0;
    position: relative;
    padding: 2px 3px;
    width: 220px;
    height: 30px;
    background: url("../images/control_bg.png") no-repeat 0 0;
    z-index: 1;
}
.header-wrap .smart-search a{
    width: 29px;
    height: 29px;
    background: url("../images/control_bg.png") no-repeat -3px -36px;
    border: none;
    font-size: 0;
}
.header-wrap .smart-search input{
    position: relative;
    margin-left: 10px;
    width: 170px;
    height: 29px;
    background: url("../images/opacity.png");
    line-height: 29px;
    border: 0;
    z-index: 3;
}
.header-wrap .smart-search label{
    position: absolute;
    top: 2px;
    left: 42px;
    line-height: 29px;
    color: #999;
    z-index: 2;
}
.header-wrap  .user-msg,
.header-wrap  .user-nick{
    margin: 9px 0 0 20px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #fff;
}
.header-wrap .user-msg{
    padding-left: 22px;
    background: url("../images/control_bg.png") no-repeat -66px -132px;
}

.id-slide{
    padding: 25px 15px;
    width: 208px;
    border: 1px solid #e9e9e9;
    background-color: #e5f6f3;
}

.user-head,
.user-head img,
.user-head span{
    width: 119px;
    height: 119px;
}
.user-head{
    position: relative;
    margin: 0 auto;
    z-index: 1;
}
.user-head img{
    position: relative;
    z-index: 2;
}
.user-head span{
    position: absolute;
    left: 0;
    top: 0;
    background: url("../images/head_bg.png") no-repeat 0 0;
    z-index: 3;
}
.user-name{
    padding: 10px 0;
    text-align: center;
}
.user-name a{
    font-size: 16px;
    color: #197663;
}
.user-option{
    padding: 0 18px;
}
.user-option a{
    margin: 0 4px;
    height: 32px;
    background: url("../images/btn_bg.png") no-repeat;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.user-option a span{
    height: 32px;
    background: url("../images/btn_bg.png") no-repeat;
    line-height: 30px;
}
.user-option a.home{
    padding-left: 10px;
    background-position: 0 -160px;
}
.user-option a.home span{
    width: 57px;
    padding-right: 10px;
    background-position: right -192px;
}
.user-option a.set{
    padding-left: 10px;
    background-position: 0 -224px;
}
.user-option a.set span{
    width: 57px;
    padding-right: 10px;
    background-position: right -256px;
}
.user-info{
    margin: 17px auto 10px;
    width: 200px;
}
.user-info li{
    padding: 2px 0;
    width: 98px;
    height: 36px;
    border-left: 1px solid #ccc;
    text-align: center;
}
.user-info li:first-child{
    border-left: 0;
}
.user-info strong{
    color: #fd7e02;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}
.user-info li span{
    padding: 2px;
    display: block;
    color: #555;
}
.user-check{
    padding: 10px 0 6px;
    margin: 0 auto;
    width: 194px;
    height: 36px;
    background: url("../images/control_bg.png") no-repeat 0 -68px;
}
.user-check li{
    width: 62px;
    text-align: center;
    color: #333;
}
.user-check li strong{
    display: block;
    font-weight: normal;
    font-family: Arial;
}
.user-check li span{
    font-size: 14px;
}
.user-check li em{
    font-size: 16px;
    font-family: Arial;
}
.user-check li.check-in{
    width: 67px;
    height: 30px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    line-height: 30px;
}
.user-check li.check-in a{
    font-size: 18px;
    color: #16936b;
}

.slide-tit{
    background: url("../images/dot.jpg") repeat-x bottom left;
}
.slide-tit span{
    height: 22px;
    border-bottom: 2px solid #2eb398;
    font-size: 16px;
}
.space-app .slide-tit{
    margin-top: 32px;
}
.space-app ul{
    padding-top: 3px;
}
.space-app li{
    margin-top: 10px;
    padding-left: 33px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
}
.space-app li a span{
    margin-right: 15px;
    width: 32px;
    height: 32px;
    background: url("../images/app_icon.png") no-repeat;
}
.space-app li.app-class a span{
    background-position: 0 0;
}
.space-app li.app-courses a span{
    background-position: 0 -42px;
}
.space-app li.app-examine a span{
    background-position: 0 -84px;
}
.space-app li.app-work a span{
    background-position: 0 -126px;
}
.space-app li.app-topic a span{
    background-position: 0 -168px;
}
.space-app li.app-notice a span{
    background-position: 0 -210px;
}
.space-app li.app-count a span{
    background-position: 0 -252px;
}
.space-app li a em{
    font-size: 14px;
    color: #555;
}

.tea-recommend .slide-tit{
    margin-top: 24px;
}
.refresh{
    margin-top: 2px;
    width: 16px;
    height: 16px;
    background: url("../images/control_bg.png") no-repeat -195px -128px;
}
.tea-recommend .rec-list{
    padding-top: 10px;
}
.tea-recommend dl{
    margin: 10px 0;
}
.tea-recommend dl dt{
    margin: 0 10px 0 14px;
}
.tea-recommend dl dt,
.tea-recommend dl dt a,
.tea-recommend dl dt img,
.tea-recommend dl dt span{
    display: block;
    width: 50px;
    height: 50px;
}
.tea-recommend dl dt a{
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-size: 0;
}
.tea-recommend dl dt img{
    position: relative;
    z-index: 2;
}
.tea-recommend dl dt span{
    position: absolute;
    left: 0;
    top: 0;
    background: url("../images/head_bg.png") no-repeat 0 -120px;
    z-index: 3;
}
.tea-recommend dl dd{
    position: relative;
    width: 125px;
    z-index: 1;
}
.tea-recommend dl dd span.txt-ell,
.tea-recommend dl dd span.color-78{
    display: block;
}
.tea-recommend dl dd span.txt-ell a{
    font-size: 14px;
}
.tea-recommend dl dd span.color-78{
    margin-top: 14px;
}
.focus{
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 10px;
    height: 24px;
    background: url("../images/btn_bg.png") no-repeat 0 -48px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.focus span{
    padding-right: 10px;
    width: 52px;
    height: 24px;
    background: url("../images/btn_bg.png") no-repeat right -72px;
}
.focus span em{
    padding-left: 17px;
    display: block;
    background: url("../images/btn_bg.png") no-repeat -20px -48px;
    color: #999;
}
.focus:hover{
    background-position: 0 0;
    color: #fff;
}
.focus:hover span{
    background-position: right -24px;
}
.focus:hover span em{
    background-position: -20px 0;
    color: #fff;
}
.id-section{
    padding: 25px 20px;
    width: 698px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
}
.text-area{
    position: relative;
    height: 100px;
    border: 1px solid #cbcbcb;
    z-index: 1;
}
.text-area label{
    position: absolute;
    left: 5px;
    top: 0;
    line-height: 24px;
    font-size: 14px;
    z-index: 2;
}
.text-area textarea{
    position: relative;
    padding: 0 0 0 5px;
    width:691px;
    z-index: 3;
    background: url("../images/opacity.png");
    height: 74px;
    border: 0;
    outline: none;
    resize: none;
    overflow-y: auto;
    line-height: 24px;
}
.text-area em{
    padding-right: 5px;
    display: block;
    text-align: right;
    color: #999;
    line-height: 26px;
}
.trend-option ul.list{
    margin-top: 2px;
}
.trend-option ul.list li a{
    display: block;
    margin-right: 20px;
    padding-left: 20px;
    height: 20px;
    line-height: 20px;
    background: url("../images/act_icon.png") no-repeat;
}
.trend-option ul.list li.tre-face a{
    background-position: 0 -5px;
}
.trend-option ul.list li.tre-friend a{
    padding-left: 22px;
    background-position: 0 -35px;
}
.trend-option ul.list li.tre-pic a{
    padding-left: 24px;
    background-position: 0 -65px;
}
.trend-option ul.list li.tre-video a{
    padding-left: 24px;
    background-position: 0 -95px;
}
.trend-option ul.list li.tre-file a{
    background-position: 0 -125px;
}
.trend-option ul.list li.tre-topic a{
    background-position: 0 -155px;
}
.trend-option .tre-btn{
    width: 82px;
    height: 28px;
    background: url("../images/btn_bg.png") no-repeat 0 -288px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.trend-content{
    margin-top: 30px;
}
.trend-type{
    border-bottom: 1px solid #dadada;
}
.trend-type li{
    margin-right: 10px;
}
.trend-type li a{
    display: block;
    padding: 0 10px;
    height: 31px;
    line-height: 29px;
    font-size: 14px;
    color: #555;
}
.trend-type li.active a{
    background-color: #2eb398;
    color: #fff;
}
.trend-info{
    position: relative;
    padding: 20px 0 15px;
    border-bottom: 1px solid #ddd;
}
.trend-info dt,
.trend-info dt a,
.trend-info dt span{
    display: block;
    width: 55px;
    height: 55px;
}
.trend-info dt a{
    background: url("../images/head_bg.png") no-repeat -52px -120px;
    cursor: pointer;
}
.trend-info dt img{
    margin: 2px 3px 0;
    width: 49px;
    height: 49px;
}
.trend-info .trend-info-con{
    margin: 0 10px;
    width: 540px;
}
.trend-info .trend-info-con .txt-ell{
    font-size: 14px;
}
.trend-info .trend-info-con p{
    margin-top: 5px;
}
.trend-info .trend-res *{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    font-weight: bold;
}
.trend-info .trend-res img{
    margin: 0 6px 0 20px;
}
.trend-select{
    position: absolute;
    right: 0;
    bottom: 15px;
    text-align: center;
}
.color-red,
.color-red a{
    color: #f86a52;
}
.trend-select .color-red{
    font-size: 14px;
}
.trend-select p{
    margin-top: 5px;
}
.trend-select p em{
    margin:  0 5px;
    color: #c1c1c1;
}

.trend-comment{
    position: relative;
    margin-top: -1px;
    border: 1px solid #e4e4e4;
}
.trend-comment .arr-top{
    position: absolute;
    right: 45px;
    top: -8px;
    width: 7px;
    height: 9px;
    background: url("../images/control_bg.png") no-repeat -219px -159px;
}
.comment-border{
    padding: 10px 0;
}
.comment-border input{
    margin: 0 10px 0 20px;
    padding: 0 10px;
    width: 388px;
    height: 30px;
    border: 1px solid #ddd;
    line-height: 30px;
    color: #666;
}
.comment-btn{
    padding-left: 10px;
    background: url("../images/btn_bg.png") no-repeat 0 -96px;
}
.comment-btn span{
    width: 57px;
    height: 32px;
    padding-right: 10px;
    background: url("../images/btn_bg.png") no-repeat right -128px;
    line-height: 32px;
    text-align: center;
}
.comment-list{
    padding: 0 20px;
    border-top: 1px solid #e4e4e4;
}
.com-list-item{
    padding: 20px 0;
    border-top: 1px dashed #ddd;
}
.comment-list .com-list-item{
    border-top: none;
}
.com-list-item dl{
    position: relative;
}
.com-list-item dl dt{
    margin: 2px 10px 0 0;
}
.com-list-item dl dt img{
    width: 35px;
    height: 35px;
}
.com-list-item dl dd.info{
    width: 500px;
}
.com-list-item dl dd.info p{
    margin-bottom: 5px;
    word-break: break-all;
}
.com-list-item dl dd.del{
    position: absolute;
    right: 0;
    bottom: 0;
}
.com-list-item .trend-comment{
    margin-top: 10px;
}
.com-list-item .arr-top{
    right: 8px;
}
.com-list-item .comment-border input{
    margin-left: 70px;
}
.tr{
    text-align: right;
}
.comment-page{
    padding: 40px 0 20px;
}
.comment-page a{
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0 10px;
    height: 23px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 2px;
    line-height: 23px;
    vertical-align: middle;
}
.comment-page a:hover,
.comment-page a.active{
    background-color: #2eb398;
    border-color: #25927c;
    color: #fff;
}
.comment-page a em,
.comment-page a span{
    margin: 0 2px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.comment-page a em.arr-lt{
    width: 0;
    height: 0;
    border-right: 7px solid #cfcfcf;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.comment-page a em.arr-rt{
    width: 0;
    height: 0;
    border-left: 7px solid #cfcfcf;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.comment-page a:hover em.arr-lt,
.comment-page a.active em.arr-lt{
    border-right: 7px solid #fff;
}
.comment-page a:hover em.arr-rt,
.comment-page a.active em.arr-rt{
    border-left: 7px solid #fff;
}

.footer{
    margin-top: 26px;
    height: 56px;
    background-color: #fff;
    border-top: 1px solid #d8d6d6;
    text-align: center;
    line-height: 54px;
    color: #888;
}

/*btn 160123*/
.user-option a:hover,
.user-option a:hover span,
.trend-option .tre-btn:hover{
    background-image: url("../images/btn_bg_hov.png");
}
.trend-option ul.list li.tre-face a:hover{
    color: #68c8b4;
}
.trend-option ul.list li.tre-friend a:hover{
    color: #f98571;
}
.trend-option ul.list li.tre-pic a:hover{
    color: #20c2ea;
}
.trend-option ul.list li.tre-video a:hover{
    color: #975622;
}
.trend-option ul.list li.tre-file a:hover{
    color: #b7a4da;
}
.trend-option ul.list li.tre-topic a:hover{
    color: #b8a267;
}
.user-info li a:hover span,
a.color-gre:hover,
a.color-aa:hover,
.color-red a:hover{
    text-decoration: underline;
}
.trend-type li a:hover{
    color: #2eb398;
}
.trend-type li.active a:hover{
    color: #fff;
}
.space-app li{
    margin-top: 0;
    padding: 5px 0 5px 33px;
    border: 1px solid #e5f6f3;
}
.space-app li:hover,
.space-app li.active{
    padding: 5px 0 5px 33px;
    background-color: #fff;
    border: 1px solid #cee7e3;
}
/*btn 160123*/
.comment-page a{
    cursor: pointer;
}
.tea-recommend dl dd span.txt-ell{
    width: 53px;
}
.tc{
    text-align: center;
}
.location{
    padding: 0 0 0 35px;
    height: 34px;
    background: #f3f3f3 url("../images/crumbs_icon.png") no-repeat 10px center;
    line-height: 34px;
    color: #999;
    font-size: 14px;
}
.location *{
    margin: 0 2px;
}
.location a:hover{
    text-decoration: underline;
}
.location span.color-gre{
    color: #269981;
}
.id-section .location{
    margin: -25px -20px 0;
}
.id-section{
    min-height: 987px;
}
.id-table{
    margin: 20px 0 0;
}
.id-table table{
    width: 100%;
    border-top: 1px solid #a0ddca;
    text-align: center;
}
.id-table table th{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #ebebeb;
    font-size: 14px;
    font-weight: normal;
    color: #333;
}
.id-table table td{
    height: 40px;
    line-height: 40px;
    color: #666;
}
.id-table table tr.special{
    background-color: #ecf7f7;
}
.color-roseo{
    color: #cd417f;
}
.tab-ell{
    margin: 0 auto;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.w-l{
    width: 240px;
}

.id-table.les tr th:first-child{
    padding-left: 60px;
    text-align: left;
}
.type-vid,
.type-doc,
.type-txt{
    padding-left: 25px;
    width: 30px;
    background: url("../images/res_type.png") no-repeat;
}
.type-vid{
    background-position: 0 12px;
}
.type-doc{
    background-position: 0 -29px;
}
.type-txt{
    background-position: 0 -69px;
}
.sub-btn{
    margin: 0 auto;
    display: block;
    width: 193px;
    height: 40px;
    background: url("../images/test_icon.png") no-repeat;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.sub-btn:hover{
    background-position: 0 -40px;
}
.paper-name{
    margin: 20px 55px 0;
    padding: 10px 20px;
    background-color: #e5f6f3;
    border: 1px solid #99cfc4;
    font-size: 24px;
    font-weight: bold;
    color: #269881;
}
.test-title{
    padding-left: 13px;
    height: 23px;
    background: url("../images/test_icon.png") no-repeat -184px -98px;
    border-bottom: 1px solid #c9c9c9;
    line-height: 23px;
    font-size: 16px;
}
.question-types{
    word-break: break-all;
}
.choose dl{
    padding-left: 15px;
}
.choose dl dt{
    padding: 15px 0 10px;
    font-size: 14px;
    color: #444;
}
.choose dl dd{
    padding-left: 25px;
}
.choose dl dd p{
    line-height: 28px;
    color: #666;
}
.choose dl dd p span{
    font-size: 14px;
}
.choose dl dd ul li{
    margin-right: 7px;
    width: 83px;
    height: 37px;
    background: url("../images/test_icon.png") no-repeat -83px -80px;
    line-height: 37px;
    font-size: 14px;
}
.choose dl dd ul li a{
    padding-left: 20px;
    text-align: center;
    display: block;
    color: #269881;
}
.choose dl dd ul li.active{
    background-position: 0 -80px;
}
.choose dl dd ul li.active a{
    color: #fff;
}
.judge ul{
    padding: 12px 0 0 17px;
}
.judge ul li{
    line-height: 24px;
    font-size: 14px;
    color: #444;
}
.judge ul li:first-child{
    margin-top: 0;
}
.judge ul li em{
    margin: 0 5px 0 0;
    width: 22px;
    height: 22px;
    border: 1px solid #aaa;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: #269881;
}
.simple dl{
    padding-left: 15px;
}
.simple dl dt{
    padding: 10px 0;
    font-size: 14px;
    color: #444;
}
.simple dl dd{
    position: relative;
    height: 208px;
    border: 1px solid #c9c9c9;
    font-size: 12px;
    color: #444;
    z-index: 1;
}
.simple dl dd textarea{
    position: relative;
    width: 99%;
    height: 208px;
    background: url("../images/opacity.png");
    border: none;
    overflow-y: auto;
    outline: none;
    resize: none;
    line-height: 22px;
    font-size: 12px;
    color: #444;
    z-index: 3;
}
.simple dl dd label{
    position: absolute;
    left: 5px;
    top: 3px;
    color: #999;
    z-index: 2;
}
/*add*/
.comment-page .current{
    background-color: #2eb398;
    border-color: #25927c;
    color: #fff;
}
.video-box{
    border: 1px solid #ccc;
    height: 400px;
}
/*0202*/
.test-bor{
    border: 1px solid #ccc;
}
.test-tip{
    display: block;
    padding: 100px 0;
    font-size: 14px;
    color: #c1c1c1;
}
.btn-green{
    padding-left: 10px;
    height: 32px;
    background: url("../images/btn_bg.png") no-repeat 0 -160px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}
.btn-green span{
    padding-right: 10px;
    width: 94px;
    height: 32px;
    background: url("../images/btn_bg.png") no-repeat right -192px;
    line-height: 30px;
    color: #fff;
}
.btn-green:hover,
.btn-green:hover span{
    background-image: url("../images/btn_bg_hov.png");
}
.select_box{
    position: relative;
    margin-right: 10px;
    width: 176px;
    min-height: 30px;
    border: 1px solid #ccc;
    background: #fff url("../images/input_bg.png") no-repeat right bottom;
    color: #666;
    z-index: 1;
}
.select_box span{
    position: absolute;
    padding: 0 30px 0 10px;
    height: 30px;
    width: 126px;
    display: block;
    line-height: 30px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    z-index: 2;
}
.select_box ul{
    position: absolute;
    top: 30px;
    left: -1px;
    width: 176px;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 188px;
    overflow-y: auto;
    z-index: 3;
}
.select_box ul li{
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}
.select_box ul li:hover{
    background: #ededed;
}
.radio-box{
    margin-top: 6px;
    margin-top: 8px\0;
}
.radio-box input{
    display: none;
}
.radio-box label{
    margin-right: 15px;
    padding-left: 18px;
    width: 15px;
    height: 16px;
    background: url("../images/input_bg.png") no-repeat 0 -35px;
    background: url("../images/input_bg.png") no-repeat 0 -37px\0;
    color: #666;
    font-size: 14px;
    cursor: pointer;
}
.radio-box label.checked{
    background-position: 0 2px;
    background-position: 0 0\0;
}
.radio-box label *{
    float: left;
    height: 16px;
    line-height: 16px;
}
.ul-form{
    font-size: 14px;
}
.ul-form li.clearfix{
    margin-bottom: 12px;
    vertical-align: middle;
}
.ul-form li .input-text{
    padding: 0 10px;
    width: 250px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 30px;
    color: #666;
    font-size: 14px;
}
.ul-form li input.width-m{
    width: 126px;
}
.ul-form li .item-name{
    width: 70px;
    height: 32px;
    line-height: 32px;
    text-align: right;
    color: #444;
    white-space: nowrap;
}
.ul-form li textarea{
    margin-bottom: 10px;
    padding-left: 5px;
    width: 500px;
    height: 134px;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    resize: none;
    color: #666;
    overflow-y: auto;
    line-height: 27px;
    font-size: 14px;
}
.ul-form li a img{
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
.ul-form li a:hover img{
    filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}
.lesson-add{
    margin: 30px 20px 0;
}
.lesson-add .ul-form{
    padding-left: 60px;
    border-bottom: 1px solid #cacaca;
}
.lesson-add .btn-green{
    margin-right: 10px;
}
.lesson-add .margin-name{
    margin-left: 70px;
}
.choose dl dd ul li.grade-box{
    width: auto;
    background: none;
}
.sure{
    width: 83px;
    height: 37px;
    background: url("../images/test_icon.png") no-repeat 0 -117px;
}
.sure input{
    width: 83px;
    height: 37px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}
.sure:hover{
    background-position: 0 -154px;
}
.grade{
    padding: 0 10px;
    width: 60px;
    height: 35px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: hidden;
}
.grade input{
    width: 60px;
    height: 35px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 14px;
}
.score{
    font-size: 16px;
}
.score em{
    font-size: 22px;
    font-family: arial;
    color: #f60;
}
.judge .grade-box,
.simple .grade-box{
    margin-left: 17px;
}
/*160218 add*/
.user-info strong{
    position: relative;
}
.user-info strong em{
    position: absolute;
    left: 28px;
    top: -5px;
    height: 18px;
    background: url("../images/control_bg.png") no-repeat;
    text-align: center;
    line-height: 16px;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
}
.user-info strong em.one{
    width: 16px;
    background-position: -195px -68px;
}
.user-info strong em.two{
    width: 20px;
    background-position: -195px -86px;
}
.user-info strong em.three{
    width: 30px;
    background-position: -195px -104px;
}
.notice-publish{
    margin: 30px 20px 0;
}
.notice-publish .ul-form li .input-text{
    width: 538px;
}
.notice-publish .bor-box{
    width: 558px;
    height: 203px;
    border: 1px solid #ccc;
}
.ul-form .text{
    line-height: 32px;
    color: #666;
}
.btn-org{
    padding-left: 10px;
    height: 32px;
    background: url("../images/btn_bg.png") no-repeat 0 -224px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}
.btn-org span{
    padding-right: 10px;
    height: 32px;
    background: url("../images/btn_bg.png") no-repeat right -256px;
    line-height: 30px;
    color: #fff;
}
.btn-org:hover,
.btn-org:hover span{
    background-image: url("../images/btn_bg_hov.png");
}
.btn-gray{
    padding-left: 10px;
    height: 32px;
    background: url("../images/btn_bg.png") no-repeat 0 -96px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}
.btn-gray span{
    padding-right: 10px;
    height: 32px;
    background: url("../images/btn_bg.png") no-repeat right -128px;
    line-height: 30px;
    color: #666;
}
.btn-gray:hover,
.btn-gray:hover span{
    background-image: url("../images/btn_bg_hov.png");
}
.notice-publish .btn-box{
    margin: 0 auto;
    width: 228px;
}
.notice-publish .btn-box a span{
    width: 84px;
}
.notice-publish .btn-box a{
    margin: 0 5px;
}
/*notice-list*/
.notice-tre .btn-org{
    margin-right: 10px;
}
.notice-tre .btn-org span{
    width: 56px;
}
.notice-list{
    margin: 0 -10px;
}
.notice-info{
    margin-bottom: 20px;
    padding: 0 0 0 15px;
    color: #666;
    font-size: 14px;
}
.notice-info span a{
    margin-right: 10px;
}
.notice-info span a:hover,
.notice-info span a.current{
    color: #2eb398;
}
.notice-info span a.current:hover{
    cursor: default;
}
.notice-head,
.notice-head span,
.notice-head img{
    display: block;
    width: 50px;
    height: 50px;
}
.notice-head{
    position: relative;
    z-index: 1;
}
.notice-head img{
    position: relative;
    z-index: 2;
}
.notice-head span{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: url("../images/circle_head.png") no-repeat;
}
.notice-list .list-item{
    padding: 20px 15px;
    border-bottom: 1px solid #f3f3f3;
}
.notice-list .list-con .list-item:first-child{
    border-top: 1px solid #f3f3f3;
}
.notice-list .list-item .notice-head{
    margin-right: 20px;
}
.notice-list .notice-content{
    padding-top: 2px;
}
.notice-list .notice-content span{
    width: 340px;
    display: block;
}
.notice-list .notice-content a{
    font-size: 16px;
    color: #333;
}
.notice-list .notice-content span em{
    color: #888888;
}
.notice-list .notice-content span em:first-child{
    margin-right: 30px;
}
.notice-list .list-item dd{
    line-height: 50px;
    font-size: 12px;
    color: #999;
}
.notice-list .list-item dd span{
    margin: 0 0 0 5px;
    width: 105px;
    font-size: 14px;
}
.space-app li{
    margin-top: 1px;
}

/*160219 add*/
.notice-list .notice-content a:hover{
    color: #2eb398;
}
.subject-info{
    position: relative;
    padding: 15px;
    border: 1px solid #f3f3f3;
    border-radius: 2px;
    font-size: 14px;
    color: #666;
}
.subject-info dl dt img{
    margin-right: 20px;
    width: 100px;
    height: 100px;
}
.subject-info dl dt strong{
    display: block;
    font-size: 20px;
    color: #444;
    font-weight: normal;
    line-height: 50px;
}
.subject-info dl dt span{
    display: block;
    line-height: 20px;
}
.subject-info dl dt em{
    margin: 0 5px;
    color: #999;
}
.subject-info dl dd{
    word-break: break-all;
}
.subject-info .btn-org{
    position: absolute;
    right: 6px;
    top: 6px;
}
.subject-info .btn-org span{
    width: 60px;
}

.subject-tab{
    padding-left: 14px;
    height: 38px;
    background: url("../images/dot_gray.jpg") repeat-x bottom;
}
.subject-tab ul li a{
    padding: 0 17px;
    height: 36px;
    display: block;
    font-size: 14px;
    line-height: 36px;
}
.subject-tab ul li a:hover{
    color: #2eb398;
}
.subject-tab ul li.current a{
    border-bottom: 2px solid #44b8a0;
    color: #2eb398;
}
.subject-tab .btn-green span{
    width: 60px;
}
.notice-detail{
    font-size: 14px;
    color: #666;
}
.notice-detail h2{
    font-size: 20px;
    color: #2eb398;
}
.notice-detail .detail-op{
    line-height: 24px;
}
.notice-detail .detail-op span.fr{
    margin-left: 10px;
    font-size: 12px;
    color: #999;
}
.notice-detail .detail-op span.fav-btn,
.notice-detail .detail-op span.msg-btn,
.notice-detail .detail-op span.look-btn{
    padding-left: 25px;
    background: url("../images/notice_select.png") no-repeat;
}
.notice-detail .detail-op span.fav-btn{
    background-position: 0 -79px;
}
.notice-detail .detail-op span.msg-btn{
    background-position: 0 -36px;
}
.notice-detail .detail-op span.look-btn{
    background-position: 0 7px;
}
.notice-detail .detail-op a{
    margin-left: 10px;
    font-size: 12px;
    color: #999;
}
.notice-detail .detail-op a:hover{
    color: #2eb398;
}
.detail-img img{
    display: block;
    margin: 20px auto;
    padding: 15px;
    background: #f5f5f5;
    max-width: 540px;
}
.notice-detail .detail-content{
    margin: 0 45px 50px;
    line-height: 24px;
    word-break: break-all;
}
.notice-detail a.collect-btn,
.notice-detail a.relay-btn,
.notice-detail a.zan-btn{
    margin-left: 6px;
    width: 47px;
    height: 38px;
    line-height: 38px;
    padding-left: 45px;
    background: url("../images/op_btn.jpg") no-repeat;
    color: #2eb398;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity:0.8;
}
.notice-detail a.collect-btn {
    background-position: -186px 0;
}
.notice-detail a.relay-btn{
    background-position: 0 0;
}
.notice-detail a.zan-btn{
    background-position: -93px 0;
}
.notice-detail a.collect-btn:hover,
.notice-detail a.relay-btn:hover,
.notice-detail a.zan-btn:hover{
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
}

.id-list{
    width: 238px;
    min-height: 1037px;
    background: #fff;
    border: 1px solid #e9e9e9;
}
.id-list dl{
    padding: 0 4px;
    font-size: 14px;
}
.id-list dl dt{
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid #e1e1e1;
}
.id-list dl dt span{
    padding-left: 18px;
    background: url("../images/list_icon.png") no-repeat 4px 10px;
    color: #269881;
}
.id-list dl dt a{
    margin-top: 2px;
    font-size: 12px;
    color: #999;
}
.id-list dl dt a:hover{
    color: #666;
}
.id-list dl dd{
    padding: 10px 0;
}
.id-list dl dd li{
    padding-left: 20px;
    background: url("../images/list_icon.png") no-repeat left -30px;
    line-height: 30px;
    vertical-align: middle;
}
.id-list dl dd li a:hover{
    color: #269881;
}

/*add*/
.color-org{
    color: #fd7e02;
}
.paper-info{
    padding-top: 20px;
    font-size: 14px;
    color: #666;
}
.paper-info span{
    margin: 0 10px;
}

.back-btn{
    margin: 0 auto;
    display: block;
    width: 193px;
    height: 40px;
    background: url("../images/test_icon.png") no-repeat 0 -191px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.back-btn:hover{
    background-position: 0 -231px;
}
.test-btn-box{
    text-align: center;
}
.test-btn-box a{
    margin: 40px 5px 0;
    display: inline-block;
    vertical-align: middle;
}

/*login-add*/
.check-box input{
    display: none;
}
.check-box label{
    padding-left: 28px;
    width: 18px;
    height: 18px;
    background: url("../images/input_bg.png") no-repeat 0 -116px;
    color: #666;
    font-size: 14px;
    cursor: pointer;
}
.check-box label.checked{
    background-position: 0 -157px;/*
    background-position: 0 0\0;*/
}
.check-box label *{
    float: left;
    height: 18px;
    line-height: 16px;
}

.user-msg{
    position: relative;
}
.user-msg em{
    position: absolute;
    left: 45px;
    top: 1px;
    height: 18px;
    background: url("../images/control_bg.png") no-repeat;
    text-align: center;
    line-height: 16px;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
}
.user-msg em.one{
    width: 16px;
    background-position: -195px -68px;
}
.user-msg em.two{
    width: 20px;
    background-position: -195px -86px;
}
.user-msg em.three{
    width: 30px;
    background-position: -195px -104px;
}
.header-wrap  .user-msg{
    margin-left: 20px;
}
.header-wrap  .user-nick{
    margin-left: 30px;
}
a:focus{
    outline: none;
}


/*add*/
.file-down{
    padding: 0 0 10px;
    line-height: 30px;
}
.file-down strong{
    font-weight: bold;
    font-size: 14px;
    color: #535353;
}
.file-down .txt-ell{
    width: 400px;
}
.file-direction{
    line-height: 20px;
    color: #535353;
    font-weight: bold;
    font-size: 14px;
}
.select_box{
    background-position: right -70px;
}